{% extends "layout.html" %}
{% block main %}
<main>
  <!-- Hero Section -->
  <div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to Mars Photos!</h1>
      <p>Explore NASA's latest images of Mars</p>
      <a href="/photos" class="btn btn-primary text-white text-decoration-none">View photos</a>
    </div>
  </div>

  <div class="container my-5">
    <!-- Start featurettes -->
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">NASA has two operational rovers on Mars</h2>
        <p class="lead">Curiosity landed on Mars in 2012 and Perseverance landed in 2021.</p>
      </div>
      <div class="col-md-5">
        <figure>
          <div class = "image-cropper">
          <img src="..\static\images\perseverance_under_construction.jpg" class="featurette-image img-fluid mx-auto" alt="Perseverance Under Construction">
        </div>
          <figcaption class="text-center">Perseverance Rover under construction in 2019. <a href="https://science.nasa.gov/resource/mars-2020-rover-is-roving">Image source</a></figcaption>
        </figure>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Curiosity and Perseverance have taken over 150,000 images</h2>
        <p class="lead">These images are used for researching Mars's surface, navigation, and inspecting the rovers themselves.</p>
      </div>
      <div class="col-md-5">
        <figure>
          <div class = "image-cropper">
          <img src="../static/images/selfie_with_ingenuity.jpg" class="featurette-image img-fluid mx-auto" alt="Perseverance Under Construction">
        </div>
          <figcaption class="text-center">Perseverance's "selfie" taken with its companion helicopter, Ingenuity. <a href="https://science.nasa.gov/resource/perseverances-selfie-with-ingenuity/">Image source</a></figcaption>
        </figure>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Both rovers have advanced our understanding of Mars</h2>
        <p class="lead">Perseverance has discovered volcanic rock on the surface of Mars and Curiosity has found signs that Mars could have supported life.</p>
      </div>
      <div class="col-md-5">
        <figure>
          <div class = "image-cropper">
          <img src="../static/images/aeolis_mons.jpg" class="featurette-image img-fluid mx-auto" alt="Aeolis Mons, the location where Curiosity discovered signs of Mars being able to support life.">
        </div>
          <figcaption class="text-center">Aeolis Mons, the area where Curiosity discovered signs of Mars being able to support life. <a href="https://www.nasa.gov/image-article/curiosity-rover-gets-ready-next-adventure/">Image source</a></figcaption>
        </figure>      </div>
    </div>
  </div>
</main>
{% endblock %}
